* {
    margin: 0;
    padding: 0;
    border: 0;
}

#navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #5A975A;
    
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.navitem {
    float: left;
  }



#logo {
    float: left; 
    width: 40px; 
    height: 20px; 
    margin: 0px; 
    padding: 0px;  
    object-fit: cover;   
    overflow: visible; 
}


#navitem a:hover { /* Makes site more responsive by changing underline and background colour. */
    text-decoration: underline;
    background-color: #111;
} 

#navtext {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
      
}

#search {
    margin-top: 3px;
    margin-left: 600px;
    width: 22%;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.searchicon {
    background: url("magnify.png") no-repeat right;
    background-size: 30px;
    margin-right: 100px;
  }

.navright {
    float: right;
    object-fit: cover;
    padding-right: 5px;
    padding-bottom: 10px;
    size: 10px;
} 

#addbook {
    width: 40px; 
    height: 20px; 
    margin: 0px; 
    padding: 0px;  
    object-fit: cover;   
    overflow: visible; 
}
  
.coverbg {
    height: 220px;
    width: 150px;
    margin-left: 50px;
    float: left;
    background: lightgray;
    text-align: center;
    text-decoration: none;
    color: black;
}


#banner {
    margin-bottom:0px;
    height: 150px;
    text-align: center;
    background-image: url('banner.png');
    height: 260px;
}

.bannertext {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    padding-top: 50px;
}

.bottombar {
    width: 100%;
    height: 40px;
    background-color: #5A975A;
}

#category {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 300px;
}

#choose {
    height: 150px;
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
    float: inline-start;
    background-color: #B2F39E;
    width: 340px;
    height: 180px;
    margin-left: 225px;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info {
    margin-left: 50px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.input {
    margin-bottom: 20px;    
    background-color: lightgray;
    height: 25px;
}

#intitle {
    width: 250px;
}

#inauthour {
    width: 212px;
}

#ingenre {
    width: 233px;
}

#incategory {
    width: 200px;
}

#inrating {
    width: 230px;
}

#indescription {
    width: 180px;
    height: 100px;   
}


#nbheader {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#image {
    float: right;
    margin-right: 50px;
    width: 200px;
}

#img {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    float: right;
}

#submit {
    background-color: lightgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 150px;
    height: 30px;
    margin-left: 200px;
}

#viewbooks {
    border-color: black;
    border: 100px;
}

#booktitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

#bookinfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

#infoauthour {
    text-align: center;
}

#infogenre {
    background-color: lightgray;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    width: 250px;
    height: 40px;
    margin-left: 450px;
    float: left;
}

#infocate {
    background-color: lightgray;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    width: 250px;
    height: 40px;
    margin-left: 40px;
    float: left;
}


#infoimage {
    background-color: lightgray;
    width: 300px;
    float: right;
    height: 500px;
    margin-right: 50px;
}

#infodop {
    float: right;
    position: absolute;
    right: 400px;
    top: 250px;
}

#inforeview {
    right: 400px;
    top: 210px;
    position: absolute;
    float: right;
}

#infodesc {
    margin-left: 30px;
    float: left;
    margin-top: 100px;
    width: 1000px;
}

.editbookbutton {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-top: 100px;
    width: 160px;
    height: 40px;
    padding-top: 20px;
    background-color: lightgray;
    text-decoration: none;
    color: blue;
}

.deletebookbutton {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    width: 160px;
    height: 40px;
    padding-top: 20px;
    margin-top: 100px;
    background-color: lightgray;
    text-decoration: none;
    color: red;
}

#bookcover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}