<!DOCTYPE html>
<html>

<head>
    <title>FlaskTest</title>
    <!--This is how we link to our CSS file in our static folder-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"> 
</head>
 
<body>
    <ul id="navbar">
        <li class="navitem"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.png') }}" id="logo"/></a></li>
        <li class="navitem"><a id="navtext" href="{{ url_for('index') }}">Libraria</a></li>

        <li class="navright"><a href="{{ url_for('index') }}">Login</a></li>
    </ul>

<div id="best">
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='banner.png') }}" id="banner"/></a>
    <h2>Libraria:</h2>
    <h4>The Worlds best book Database</h4>
</div>


{% block body %}

 
{% endblock %}
 
 
</body>
</html>