<!DOCTYPE html>
<html>

<head>
    <title>Libraria</title>
    <!--This is how we link to our CSS file in our static folder-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"> 
</head>
 
<body>
    <ul id="navbar">
        <li class="navitem"><a id="navtext" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.png') }}" id="logo"/></a></li>
        <li class="navitem"><a id="navtext" href="{{ url_for('index') }}">Libraria</a></li>

        <input id="search" class="searchicon" type="text" placeholder="Search for a book...">
        
        <li class="navright"><a id="navtext" href="{{ url_for('viewbooks') }}">View books</a></li>
        <li class="navright"><a id="navtext" href="{{ url_for('newbook') }}"><img id="addbook" src="{{ url_for('static', filename='addbook.png') }}" /></a></li>
    </ul>

{% block body %}

<div id="banner">
    <h4 class="bannertext">Libraria:</h4>  
    <h4 class="bannertext">The Worlds best book Database</h4>
</div>


<div class="bottombar"></div>



<div id="category">
    <h2 id="largetext">Editors Picks</h2>
    <h4 id="smalltext">View all...</h4>
</div>
 
<div class="bottombar"></div>   

<div id="category">
    <h2 id="largetext">Best Reviews</h2>
    <h4 id="smalltext">View all...</h4>
</div>

<div class="bottombar"></div>   

<div id="choose">
    <h2 class="box">View All Books</h2>
    <h2 class="box">View All Genres</h2>
    <h2 class="box">View All Categories</h2>
</div>

 
</body>
</html>

{% endblock %}
 
